body {
    background-image: url(Media/gamebg.png);
    background-size: cover; 
    
}

@font-face {
    font-family: supersunday;
    src: url(super_sunday.tff);
}

.frame {
    width: 500px;
    height: 500px;
    background-color: transparent;
    margin: auto;
    text-align: center;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background-size: cover;
    
    position: relative;
    top: -5rem;
}

img {
    height: 150px;
    width: 200px;
    text-align: center;
    margin: auto;
}

.title {
    height: 200px;
    width: 900px;
    text-align: center;
    margin: auto;
}

.frame1 {
    text-align: center;
    margin: auto;
    z-index: 10;
    margin-top: 75px;
    position:  relative;
}

.button {
    text-align: middle;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: transparent;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #2f830c 0px 0px 20px, #2f830c 0px 0px 30px, #2f830c 0px 0px 40px, #2f830c 0px 0px 50px, #2f830c 0px 0px 75px;
    border: 3px double #4b42ff;
    border-radius: 3px;
    color: #0b4a00;
    font-family: supersunday;
    font-size: 16px;
}

a{
    font-size: 25px;
}

a:link {
    text-decoration: none;
    color: #0b4a00;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.btn-group {
    margin-top: 80px;
}